$color: black;
$font-size: 30px;
$font-family: 'Open Sans', sans-serif;

// HEADER //
.heading-names {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  .heading-items {
    float: right;
    padding-right: 300px;
    display: inline-block;
    margin: 0 auto;
  }
}

// SIDE BAR //
.side-nav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: pink;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  .side-nav-content {
    font-family: $font-family;
    color: black;
    font-size: 50px;
    text-decoration: none;
    width: 100%;
    padding-left: 2px;
    li a {
      text-decoration: none;
      color: #696969;
    }
  }
}

//HOVERING OVER SIDEBAR//
a:hover {
  color: white;
  background-color: white;
  border-radius: 10px;
}

//NAME OF SITE //
.name-of-site {
  font-family: Sacramento, cursive;
  font-size: 150px;
  float: left;
  padding: 0;
  color: pink;
  -webkit-text-fill-color: #FF8C00;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FF69B4;
  display: inline;
}

//HEADING FOR WEBPAGE//
.webpage-heading {
  font-size: 60px;
  font-family: 'Nanum Myeongjo', serif;
  text-align: left;
  font-weight: 100;
  padding-top: 5px;
  color: auto;
  padding-bottom: 50px;
  display: inline-block;
  .detailed-header {
    color: #FF69B4;
    -webkit-text-stroke-width: 0.005em;
    -webkit-text-stroke-color: #FF8C00;
    font-family: Sacramento, cursive;
  }
}

//CONTENT//
.content {
  color: black;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-right: 310px;
  padding-bottom: 50px;
  float: left;
  width: 1100px;
}

.background {
  background-color: #E0FFFF;
}
//QUIZ//
.quiz {
  background-color: #B0E0E6;
  width: 1100px;
  height: 1000px;
  color: black;
  font-size: $font-size;
  font-family: $font-family;
  border-radius: 10px;
  .one {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 40px;
  }
  .questions {
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    padding-left: 250px;
    li {
      text-decoration: none; //Need to get rid of bullet points //
    }
  }
  .left-imgs {

  }
  .right-imgs {

  }
}

//FOOTER//
.footer {
  opacity: 0.8;
  margin: 30px;
  border: 1px solid grey;
  background-color: #FF7F50;
  width: 1100px;
  height: 100px;
  color: white;
  font-size: 15px;
  font-family: $font-family;
  border-radius: 10px;
  .cookies {
    display: inline;
    padding: 20px;
  }
  .the-rest {
    display: inline-block;
    padding: 20px;
  }
}
