$font-family: 'Press Start 2P';

canvas {
  background-color: #ffb3de	;
}

body {
  margin: 0;
}

.content{
  .heading {
    position: absolute;
    z-index: 1;
    left: 550px;
    top: 0px;
    font-size: 100px;
    font-family: 'Arial';
    color: #fff;
    font-weight: 700;
    tranform: scale(2);
    margin: 0;
  }
}

//GLITCH//

.content .heading:before, .content .heading:after {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  background: #ffb3de;
  color: #fff;
  overflow: hidden;
}

.content .heading:before {
  left: 3px;
  text-shadow: -4px 0 #00FF00;
  animation: glitch-1 2s 0s linear reverse infinite;
}

.content .heading:after {
  left: -5px;
  text-shadow: -4px 0 #FF69B4;
  animation: glitch-2 2s 0s linear reverse infinite;
}

@keyframes glitch-1 {
  0% {
   clip: rect(132px, auto, 101px, 30px);
 }
 5% {
   clip: rect(17px, auto, 94px, 30px);
 }
 10% {
   clip: rect(40px, auto, 66px, 30px);
 }
 15% {
   clip: rect(87px, auto, 82px, 30px);
 }
 20% {
   clip: rect(137px, auto, 61px, 30px);
 }
 25% {
   clip: rect(34px, auto, 14px, 30px);
 }
 30% {
   clip: rect(133px, auto, 74px, 30px);
 }
 35% {
   clip: rect(76px, auto, 107px, 30px);
 }
 40% {
   clip: rect(59px, auto, 130px, 30px);
 }
 45% {
   clip: rect(29px, auto, 84px, 30px);
 }
 50% {
   clip: rect(22px, auto, 67px, 30px);
 }
 55% {
   clip: rect(67px, auto, 62px, 30px);
 }
 60% {
   clip: rect(10px, auto, 105px, 30px);
 }
 65% {
   clip: rect(78px, auto, 115px, 30px);
 }
 70% {
   clip: rect(105px, auto, 13px, 30px);
 }
 75% {
   clip: rect(15px, auto, 75px, 30px);
 }
 80% {
   clip: rect(66px, auto, 39px, 30px);
 }
 85% {
   clip: rect(133px, auto, 73px, 30px);
 }
 90% {
   clip: rect(36px, auto, 128px, 30px);
 }
 95% {
   clip: rect(68px, auto, 103px, 30px);
 }
 100% {
   clip: rect(14px, auto, 100px, 30px);
 }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}

//HEADER ITEMS//
header {
  position: absolute;
  z-index: 1;
  top: 30px;
  display: inline;
  h2 {
    display: inline-block;
    padding-left: 40px;
    margin: 0;
  }
  .social-media {
  padding: 20px;
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   margin: 5px 2px;
   border-radius: 50%;
  }
  .search {
    display: inline-block;
    padding-left: 50px;
    margin-top: 0px;
    padding-top: 30px;
    input {
      border-radius: 5px;
      border-color: #7B68EE;
      width: 400px;
      height: 30px;
      font-family: $font-family;
      color: grey;
      text-align: center;
    }
  }
  .header-items {
    color: #3CB371;
    font-family: $font-family;
    font-size: 8px;
    margin-top: 15px;
    -webkit-text-stroke: 0.01em #00FF00;
  }
  .sentence {
    display: inline-block;
    padding-left: 1100px;
    margin: 0;
    padding-top: 0px;
    position: absolute;
    white-space: nowrap;
    font-family: $font-family;
    veritcal-align: middle;
    width: 100px;
    -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
    -webkit-animation: anim 2.5s infinite;
    animation: anim 1.5s infinite;
    animation-direction: alternate-reverse;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    .above {
      text-align: center;
      small {
        font-size: 10px;
        font-family: Arial;
      }
    }
  }
}

@-webkit-keyframes anim {
     from {
         left: -10%;
     }
     to {
         left:10%;
     }
}

@keyframes anim {
   from {
         left: -5%;
     }
     to {
         left:1%;
     }
}

.content-headers {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 150px;
  font-family: $font-family;
  font-size: 30px;
  font-weight: bold;
  width: 550px;
  padding-top: 50px;
}

.decoration {
  -webkit-text-stroke: 0.01em #00FF00;
}

//CONTENT//
.content-body {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 230px;
  font-family: 'Arial';
  font-size: 20px;
  width: 550px;
  padding-top: 30px;
  }

.content-no1 {
  background-color: white;
}
